.table__header {
    width: 97%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 10px;
}

.table__header--left {
    h1 {
        display: inline-block;
        font-size: 24px;
        font-weight: 400;
    }
    p {
        display: inline-block;
        font-size: 15px;
        font-weight: 300;
        color: #777;
        margin-left: 10px;
    }
}

.table__header--right {
    margin-top: 6px;
    a {
        font-size: 12px;
        margin-right: 5px;
        color: #444444;
        i {
            font-size: 11px;
            color: black;
        }
    }
    i {
        font-size: 10px;
        color: #ccc;
        margin-right: 5px;
    }
}

.table__main {
    width: 97%;
    height: auto;
    background-color: white;
    margin: 0 auto;
    border-top: 3px solid rgb(205, 216, 219);
    &--title {
        padding: 5px 5px;
        font-size: 18px;
        margin-bottom: 20px;
    }
    &--content {
        width: 98%;
        margin: 0 auto;
        thead {
            border-bottom: 3px solid #ecf0f5;
            th {
                font-size: 14px;
                color: #333333;
                position: relative;
                i {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    font-size: 17px;
                }
            }
        }
        tbody {
            td {
                border: 1px solid #ecf0f5;
                font-size: 13px;
            }
        }
        tfoot {
            th {
                font-size: 14px;
                color: #333333;
            }
        }
    }
}

.table__pagination{
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &--left{
        font-size: 14px;
        color: #333333;
    }
    &--right{

    }
}

.my-pagination{
    li{
        a{
            font-size: 12px;
            padding: 8px 13px;
            color: rgba(0, 0, 0, 0.664);
            &:hover{
                background-color: #77777798;
                color: rgba(0, 0, 0, 0.664);
            }
        }
    }
    .active{
        a{
            background-color: #337ab7;
            &:hover{
                background-color: #337ab7;
                color: rgba(0, 0, 0, 0.664);
            }
        }
    }
}